<header class="Encabezado">
  <img src="assets/pedidosya-app-000.jpg" alt="Logo" class="logo">
  <div class="contenedor-buscador">
    <i class="bi bi-search"></i>
    <input type="text" class="buscador" placeholder="Buscar productos...">
  </div>
  <div class="contenedor-informacion">
    <div class="ubicacion">
      <i class="bi bi-geo-alt"></i>
      <span>VILLA MARÍA</span>
    </div>
    <div class="usuario">
      <i class="bi bi-person-circle"></i>
      <span>USUARIO</span>
    </div>
  </div>
</header>

<main class="busqueda-main">
  <section class="local-tarjeta">
    <img src="assets/Hotpizza-logo.png" alt="Hot Pizza">
    <div class="local-info">
      <span class="local-nombre">Hot Pizza</span><br>
      <span class="local-direccion">Av Siempre Viva 734</span>
    </div>
    <div class="local-meta">
      <div class="meta-item"><i class="bi bi-clock"></i>20–30 min</div>
      <div class="meta-item"><i class="bi bi-star-fill"></i>4.7</div>
    </div>
  </section>

  <section class="lista-productos">
    <div class="producto-card">
      <img src="assets/imagen1.png" alt="Pizza Fungie">
      <div class="producto-detalles">
        <span class="producto-nombre">Pizza Fungie</span>
        <span class="producto-subtitulo">Pizza de hongos, ques…</span>
        <div class="producto-comprar">
          <span class="precio">$12.000</span>
          <button class="btn-agregar">AGREGAR</button>
        </div>
      </div>
    </div>

    <div class="producto-card">
      <img src="assets/imagen2.png" alt="Pizza Peperoni">
      <div class="producto-detalles">
        <span class="producto-nombre">Pizza Peperoni</span>
        <span class="producto-subtitulo">Pizza de peperoni ques…</span>
        <div class="producto-comprar">
          <span class="precio">$12.000</span>
          <button class="btn-agregar">AGREGAR</button>
        </div>
      </div>
    </div>

    <div class="producto-card">
      <img src="assets/imagen3.png" alt="Pizza Margarita">
      <div class="producto-detalles">
        <span class="producto-nombre">Pizza Margarita</span>
        <span class="producto-subtitulo">Pizza de queso muzz…</span>
        <div class="producto-comprar">
          <span class="precio">$15.000</span>
          <button class="btn-agregar">AGREGAR</button>
        </div>
      </div>
    </div>
  </section>
</main>
