<header class="Encabezado">
  <img src="assets/pedidosya-app-000.jpg" alt="Logo" class="logo">
  <div class="contenedor-buscador">
    <i class="bi bi-search"></i>
    <input type="text" class="buscador" placeholder="Buscar...">
  </div>
  <div class="contenedor-informacion">
    <div class="ubicacion">
      <i class="bi bi-geo-alt"></i>
      <span>VILLA MARÍA</span>
    </div>
    <div class="usuario">
      <i class="bi bi-person-circle"></i>
      <span>USUARIO</span>
    </div>
  </div>
</header>

<main class="busqueda-main">
  <aside class="menu-lateral">
    <div class="menu-section">
      <div class="menu-title">Ordenar <span class="flecha">▼</span></div>
      <ul>
        <li>Sugeridos</li>
        <li>Mejor puntuados</li>
        <li>Más cercanos</li>
        <li>Más rapidos</li>
      </ul>
    </div>
    <div class="menu-section">
      <div class="menu-title">Categorías <span class="flecha">▼</span></div>
      <ul>
        <li>Pizzas</li>
        <li>Empanadas</li>
        <li>Helados</li>
        <li>Postres</li>
        <li>Sushi</li>
        <li>Hamburguesas</li>
      </ul>
    </div>
  </aside>

  <section class="lista-locales">
    @for (r of restaurantes; track r.id) {
      <div class="local-tarjeta">
        <img [src]="r.imageUrl" [alt]="r.name" />
        <div class="local-info"
            (click)="goToRestaurantDetail(r.id)"
            style="cursor: pointer;"
            [title]="'Ir a ' + r.name">
          <span class="local-nombre">{{ r.name }}</span><br />
          <span class="local-direccion">{{ r.address.street }} {{ r.address.number }}</span>
        </div>
        <div class="local-puntaje">
          {{ r.puntaje }} <span class="estrella">&#9733;</span>
        </div>
      </div>
    }
  </section>

</main>
