<header class="Encabezado">
  <img src="assets/pedidosya-app-000.jpg" alt="Logo" class="logo">
  <div class="contenedor-buscador">
    <i class="bi bi-search"></i>
    <input type="text" class="buscador" placeholder="Buscar locales...">
  </div>
  <div class="contenedor-informacion">
    <div class="ubicacion">
      <i class="bi bi-geo-alt"></i>
      <span>VILLA MARÍA</span>
    </div>
    <div class="usuario">
      <i class="bi bi-person-circle"></i>
      <span>USUARIO</span>
    </div>
  </div>
</header>

<main class="contenido-de-la-pagina">
  <h2>¡Hola! ¿Qué vas a pedir hoy?</h2>
  <div class="opciones">
    <div class="opcion-tarjeta">
      <img src="assets/cute-cartoon-burger.png" alt="Restaurante">
      <span>Restaurantes</span>
    </div>
    <div class="opcion-tarjeta">
      <img src="assets/supermarket-shopping-free.png" alt="Mercados">
      <span>Mercados</span>
    </div>
    <div class="opcion-tarjeta">
      <img src="assets/comida-chatarra.png" alt="Kioscos">
      <span>Kioscos</span>
    </div>
  </div>

 <h3>Te sugerimos...</h3>
<div class="sugerencias">
  <div class="sugerencia-tarjeta">
    <img src="assets/Hotpizza-logo.png" alt="Hot Pizza">
    <div>
      <span class="nombre-local">Hot Pizza</span><br>
      <span class="direccion-local">Av Siempre Viva 734</span>
    </div>
  </div>
  <div class="sugerencia-tarjeta">
    <img src="assets/imagen-logo-pizza.png.png" alt="Italian Pizza">
    <div>
      <span class="nombre-local">Italian Pizza</span><br>
      <span class="direccion-local">Calle falsa 1234</span>
    </div>
  </div>
</div>

</main>
