.landing-bg {
  background-image: url('/assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registro-card {
  background: rgba(255, 0, 0, 0.69);
  border-radius: 32px !important;
  box-shadow: 0 8px 40px 0 rgba(0,0,0,0.21);
  width: 900px;
  max-width: 97vw;
  padding: 45px 34px 34px 34px;
}

.registro-icon {
  font-size: 3.5rem;
  color: #fff;
  display: inline-block;
  margin-bottom: 8px;
}

.registro-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.35rem;
  margin-bottom: 18px;
}

.registro-form .registro-input {
  background: #fff;
  border: none;
  border-radius: 2rem;
  padding: 16px 18px;
  font-size: 1.09rem;
  font-weight: 500;
  margin-bottom: 0;
  box-shadow: 0 4px 18px rgba(0,0,0,0.04);
  transition: border 0.13s;
}

.registro-form .registro-input:focus {
  outline: none;
  border: 2px solid #ed1c24;
  box-shadow: 0 0 0 2px #ed1c2444;
}
.form-check-input {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.37em;
  margin-top: 0;
}
.btn-registro {
  background: #ed1c24;
  color: #fff;
  border: none;
  border-radius: 22px;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 14px 0;
  box-shadow: 0 4px 18px rgba(0,0,0,0.11);
  margin-top: 10px;
  margin-bottom: 3px;
  letter-spacing: 1px;
  transition: background 0.13s, transform 0.13s;
}

.btn-registro:hover, .btn-registro:focus {
  background: #c90e19;
  color: #fff;
  transform: translateY(-2px) scale(1.03);
}

@media (max-width: 768px) {
  .registro-card {
    padding: 17px 2vw;
    width: 99vw;
  }
  .registro-form .row {
    flex-direction: column;
  }
  .registro-form .col-md-6 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.text-danger {
  color: white !important;
}
