

<div class="login-contenedor d-flex justify-content-center align-items-center vh-100">
  <div class="login-box bg-danger bg-opacity-75 rounded-4 p-5 text-center shadow">
    <i class="bi bi-person-circle text-white fs-1"></i>
    <h5 class="text-white mt-2">Ingresa tus datos para iniciar sesión</h5>

    <form [formGroup]="loginClienteForm" (ngSubmit)="iniciarSesion()">
      <div class="mb-3">
        <input
          type="text"
          class="form-control my-3 rounded-pill text-center"
          placeholder="Email"
          formControlName="email"
        />
        <div
          *ngIf="loginClienteForm.get('email')?.invalid && (loginClienteForm.get('email')?.touched || loginClienteForm.get('email')?.dirty)"
          class="text-danger text-center"
        >
          Email obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control my-3 rounded-pill text-center"
          placeholder="Contraseña"
          formControlName="password"
        />
        <div
          *ngIf="loginClienteForm.get('password')?.invalid && (loginClienteForm.get('password')?.touched || loginClienteForm.get('password')?.dirty)"
          class="text-danger text-center"
        >
          Contraseña obligatoria.
        </div>
      </div>

      <button type="submit" class="btn btn-danger btn-lg w-100 rounded-pill fw-bold" [disabled]="loginClienteForm.invalid">
        CONTINUAR
      </button>
      <div *ngIf="mensajeError" class="error-message text-danger">
        {{ mensajeError }}
      </div>
    </form>

    <a href="#" class="text-white d-block mt-3 text-decoration-none fw-semibold">¿Olvidaste la contraseña?</a>
  </div>
</div>