<div class="landing-bg d-flex justify-content-center align-items-center vh-100">
  <div class="bg-danger bg-opacity-75 rounded-4 p-5 text-center shadow" style="width: 100%; max-width: 500px;">
    <h1 class="fw-bold text-white mb-2">Bienvenido a PedidosYa</h1>
    <p class="text-white mb-4">Elegí cómo querés ingresar</p>
    <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
      <button class="btn btn-light btn-lg fw-bold px-5"
              (click)="LoginCliente()">
        CLIENTE
      </button>
      <span class="fw-bold text-white">o</span>
      <button class="btn btn-light btn-lg fw-bold px-5"
              (click)="LoginDueno()">
        DUEÑO
      </button>
    </div>
    <div>
      <a class="text-white text-decoration-underline"
          (click)="Registro()">
        ¿No tenés cuenta? Crea una
      </a>

    </div>
  </div>
</div>
